<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <xacro:arg name="arm_id" default="panda"/>
  <xacro:arg name="use_cylinder_collision_model" default="true"/>
  <xacro:arg name="use_gazebo_sim" default="false"/>

  <xacro:include filename="$(find franka_description)/robots/panda_arm.xacro" />

  <xacro:if value="$(arg use_gazebo_sim)">
    <xacro:include filename="$(find franka_description)/robots/panda.gazebo.xacro"/>
    <xacro:include filename="$(find franka_description)/robots/panda.control.xacro"/>
  </xacro:if>
  <link name="world"/>
  <xacro:panda_arm xyz="0 0 0" rpy="0 0 0" connected_to="world" arm_id="$(arg arm_id)"
    safety_distance="0.03" use_cylinder_collision_model="$(arg use_cylinder_collision_model)"/>

  <xacro:if value="$(arg use_gazebo_sim)">
    <xacro:arm_gazebo arm_id="$(arg arm_id)"/>
    <xacro:arm_control arm_id="$(arg arm_id)"/>
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"/>
    </gazebo>
  </xacro:if>
</robot>
