<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">

  <!-- This file is DEPRECATED!!! Use the panda_arm.urdf.xacro instead and pass the `hand` argument like so: -->
  <!-- xacro $(find franka_description)/robots/panda_arm.urdf.xacro hand:=true -->

  <xacro:include filename="$(find franka_description)/robots/panda_arm.xacro"/>
  <xacro:include filename="$(find franka_description)/robots/hand.xacro"/>
  <xacro:panda_arm safety_distance="0.03"/>
  <xacro:hand ns="panda" rpy="0 0 ${-pi/4}" connected_to="panda_link8" safety_distance="0.03"/>
</robot>
