<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">

  <!-- Name of this panda -->
  <xacro:arg name="arm_id" default="panda" />
  <!-- Should a franka_gripper be mounted at the flange?" -->
  <xacro:arg name="hand" default="false" />
  <!-- Is the robot being simulated in gazebo?" -->
  <xacro:arg name="gazebo" default="false" />

  <!-- Name prefix used for joints and links. Property is implicitly passed to macros. -->
  <xacro:property name="prefix" value="$(arg arm_id)_" />

  <xacro:unless value="$(arg gazebo)">
    <!-- Create a URDF for a real hardware -->
    <xacro:include filename="utils.xacro" />
    <xacro:include filename="arm.xacro" />
    <xacro:arm safety_distance="0.03" />

    <xacro:if value="$(arg hand)">
      <xacro:include filename="hand.xacro"/>
      <xacro:hand rpy="0 0 ${-pi/4}" connected_to="${prefix}link8" safety_distance="0.03"/>
    </xacro:if>
  </xacro:unless>

  <xacro:if value="$(arg gazebo)">

    <xacro:arg name="xyz" default="0 0 0" />
    <xacro:arg name="rpy" default="0 0 0" />

    <!-- Create a simulatable URDF -->
    <xacro:include filename="utils.xacro" />
    <xacro:include filename="panda_gazebo.xacro" />

    <xacro:arm />

    <xacro:if value="$(arg hand)">
      <xacro:hand rpy="0 0 ${-pi/4}" connected_to="${prefix}link8" />
      <xacro:gazebo-joint joint="${prefix}finger_joint1" transmission="hardware_interface/EffortJointInterface" />
      <xacro:gazebo-joint joint="${prefix}finger_joint2" transmission="hardware_interface/EffortJointInterface" />
    </xacro:if>

    <!-- Gazebo requires a joint to a link called "world" for statically mounted robots -->
    <link name="world" />
    <joint name="world_joint" type="fixed">
      <origin xyz="$(arg xyz)" rpy="$(arg rpy)" />
      <parent link="world" />
      <child  link="${prefix}link0" />
    </joint>


    <xacro:gazebo-joint joint="${prefix}joint1" transmission="hardware_interface/EffortJointInterface" />
    <xacro:gazebo-joint joint="${prefix}joint2" transmission="hardware_interface/EffortJointInterface" />
    <xacro:gazebo-joint joint="${prefix}joint3" transmission="hardware_interface/EffortJointInterface" />
    <xacro:gazebo-joint joint="${prefix}joint4" transmission="hardware_interface/EffortJointInterface" />
    <xacro:gazebo-joint joint="${prefix}joint5" transmission="hardware_interface/EffortJointInterface" />
    <xacro:gazebo-joint joint="${prefix}joint6" transmission="hardware_interface/EffortJointInterface" />
    <xacro:gazebo-joint joint="${prefix}joint7" transmission="hardware_interface/EffortJointInterface" />

    <xacro:transmission-franka-state />
    <xacro:transmission-franka-model root="${prefix}joint1" tip="${prefix}joint8" />

    <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <controlPeriod>0.001</controlPeriod>
        <robotSimType>franka_gazebo/FrankaHWSim</robotSimType>
      </plugin>
      <self_collide>true</self_collide>
    </gazebo>
  </xacro:if>

</robot>
