<?xml version="1.0" ?>
<launch>
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find franka_description)/robots/franka.urdf.xacro" />
  <node name="franka_hw_node" pkg="franka_hw" type="franka_hw_node" output="screen">
    <rosparam command="load" file="$(find franka_hw)/config/franka_hw.yaml" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find franka_description)/robots/franka.urdf.xacro" />
  </node>
</launch>
