<?xml version="1.0" ?>
<launch>
  <!-- Valid values: "position", "effort" -->
  <arg name="controller" default="position" />

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="$(arg controller)_joint_trajectory_controller"/>
  <include file="$(find panda_moveit_config)/launch/move_group.launch" />
</launch>
